/* Maybe reset css? */
body,
html {
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}
ul,
li {
  padding: 0px;
  margin: 0px;
}
body {
  width: 100%;
  height: 100vh;
  background: #fefefe;
}
.comp-wrapper {
  margin: auto;
  height: 100vh;
}

.main-card {
  border-radius: 4px;
  padding: 16px;
  width: 450px;
  margin: auto;
}
.task-input-wrapper {
  display: flex;
}
.task-list-wrapper {
  padding: 8px;
}
.task-list li {
  list-style: none;
  width: 100%;
  font-size: 0.8rem;
  color: #333;
}
.task-item {
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 8px;
  background: #bdc3c7;
  border-radius: 4px;
  justify-content: space-between;
}
.task-item-text {
  font-size: 1.2rem;
}
.task-item-actions {
  text-align: right;
  padding: 4px;
}
.task-item-actions span {
  padding: 4px 8px;
  cursor: pointer;
  margin-left: 4px;
  border-radius: 4px;
  color: white;
  font-size: 0.8rem;
}
.delete {
  background: red;
}
.complete {
  background: #052355;
}
.task-input-wrapper input,
.task-input-wrapper button {
  border: none;
  outline: none;
  height: 32px;
  margin: 8px;
  font-size: 0.8rem;
  border-radius: 4px;
  font-weight: 200;
}
.task-input-wrapper button {
  cursor: pointer;
  background: #2980b9;
  color: white;
}
.task-input-wrapper input {
  width: 85%;
  background: #ececec;
  padding: 0px 8px;
}

.title-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  margin: 0px 8px;
  color: #333;
}
